@model Apparcus.Models.RegisterViewModel
@{
    Layout = "~/Views/Shared/_LayoutAuth.cshtml";
    ViewData["Title"] = "Register";
}
<div class="auth-card" data-aos="zoom-in" data-aos-delay="100" style="margin-top:132px; max-width:530px !important;">
    <div class="text-center mb-4">
        <img src="~/leadpage/assets/img/Apparcus logo.jpg" alt="Apparcus Logo" class="img-fluid mb-3" style="width:80px;">
        <h2>Create Account</h2>
        <p>Join Apparcus Payments today</p>
    </div>
    <div class="row">
        <div class="mb-3 col-md-6">
            <label>First Name</label>
            <input class="form-control" type="text" id="firstName" />
        </div>
        <div class="mb-3 col-md-6">
            <label>Last Name</label>
            <input class="form-control" type="text" id="lastName" />
        </div>
    </div>
   <div class="row">
        <div class="mb-3 col-md-6">
            <label>Phone Number</label>
            <input id="phone" type="text" class="form-control" />
        </div>
        <div class="mb-3 col-md-6">
            <label>Date of birth</label>
            <input id="dateOfBirth" type="date" class="form-control" />
        </div>
   </div>
    <div class="mb-3 col-md-12">
        <label>Email</label>
        <input id="email" type="text" class="form-control" />
    </div>
   
    <div class="mb-3 col-md-12">
        <label>Address</label>
        <input id="address" type="text" class="form-control" />
    </div>

    <div class="row">
        <div class="mb-3 col-md-6">
            <label>Password</label>
            <div class="pass-group">
                <input id="password" type="text" class="form-control pass-input" />
                <span class="ti toggle-password ti-eye-off"></span>
            </div>
        </div>
        <div class="mb-3 col-md-6">
            <label>Confirm Password</label>
            <div class="pass-group">
                <input id="confirmPassword" type="text" class="form-control pass-inputs" placeholder="Confirm Password" />
                <span class="ti toggle-passwords ti-eye-off"></span>
            </div>
        </div>
    </div>

    <button type="submit" id="submit_btn" onclick="registerUser()" class="btn btn-primary w-100 mb-3">Sign Up</button>
    <p class="text-center mt-4">
        Already have an account? <a asp-action="Login" class="fw-semibold">Sign In</a>
    </p>
</div>
