
@model Apparcus.Models.ResetPasswordViewModel
@{
    Layout = "~/Views/Shared/_LayoutAuth.cshtml";
    ViewData["Title"] = "Reset Password";
}
<div class="auth-card" data-aos="zoom-in" data-aos-delay="100" style="margin-top:132px;">
    <div class="text-center mb-4">
        <img src="~/leadpage/assets/img/Apparcus logo.jpg" alt="Apparcus Logo" class="img-fluid mb-3" style="width:80px;">
        <h2>Reset Password</h2>
        <p>Your new password must be different from previously used passwords</p>
    </div>

    <form asp-action="ResetPassword" method="post">
        <input asp-for="Token" type="hidden" />

        <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

        <div class="mb-3">
            <label asp-for="Password"></label>
            <div class="pass-group">
                <input asp-for="Password" class="form-control pass-input" placeholder="New Password" />
                <span class="ti toggle-password ti-eye-off"></span>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>

        <div class="mb-3">
            <label asp-for="ConfirmPassword"></label>
            <div class="pass-group">
                <input asp-for="ConfirmPassword" class="form-control pass-inputs" placeholder="Confirm Password" />
                <span class="ti toggle-passwords ti-eye-off"></span>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
        </div>

        <button type="submit" class="btn btn-primary w-100 mb-3">Submit</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
