@model Core.ViewModels.UserDashboardDto
@{
    ViewData["Title"] = "Dashboard";
    Layout = ViewBag.Layout;
}

<div class="page-wrapper">
    <div class="content">
        <!-- Breadcrumb -->
        <div class="d-md-flex d-block align-items-center justify-content-between page-breadcrumb mb-3">
			<div class="my-auto mb-2">
				<h2 class="mb-1">Dashboard</h2>
				<nav>
					<ol class="breadcrumb mb-0">
						<li class="breadcrumb-item">
							<a href="index.html"><i class="ti ti-smart-home"></i></a>
						</li>
						<li class="breadcrumb-item">
							Welcome back @Model.FullName
						</li>
					</ol>
				</nav>
			</div>
        </div>
        <!-- /Breadcrumb -->

		<div class="alert bg-secondary-transparent alert-dismissible fade show mb-4">
			You have @Model.ProjectCount project running currently!!!
			<button type="button" class="btn-close fs-14" data-bs-dismiss="alert" aria-label="Close"><i class="ti ti-x"></i></button>
		</div>
		<div class="row">
			<div class="col-xl-4 col-md-6">
				<div class="card position-relative">
					<div class="card-body">
						<div class="d-flex align-items-center mb-3">
							<div class="avatar avatar-md br-10 icon-rotate bg-primary flex-shrink-0">
								<span class="d-flex align-items-center"><i class="ti ti-delta text-white fs-16"></i></span>
							</div>
							<div class="ms-3">
								<p class="fw-medium text-truncate mb-1">Total No of Project</p>
								<h5>@Model.ProjectCount</h5>
							</div>
						</div>
						<div class="progress progress-xs mb-2">
							<div class="progress-bar bg-primary" role="progressbar" style="width: 40%"></div>
						</div>
						<p class="fw-medium fs-13 mb-0"><span class="text-danger fs-12"><i class="ti ti-arrow-wave-right-up me-1"></i>-4.01% </span> from last week</p>
						<span class="position-absolute top-0 end-0"><img src="~/template/assets/img/bg/card-bg-04.png" alt="Img"></span>
					</div>
				</div>
			</div>
			<div class="col-xl-4 col-md-6">
				<div class="card position-relative">
					<div class="card-body">
						<div class="d-flex align-items-center mb-3">
							<div class="avatar avatar-md br-10 icon-rotate bg-secondary flex-shrink-0">
								<span class="d-flex align-items-center"><i class="ti ti-users-group text-white fs-16"></i></span>
							</div>
							<div class="ms-3">
								<p class="fw-medium text-truncate mb-1">No of Contributors</p>
								<h5>@Model.ContibutorsCount</h5>
							</div>
						</div>
						<div class="progress progress-xs mb-2">
							<div class="progress-bar bg-secondary" role="progressbar" style="width: 40%"></div>
						</div>
						<p class="fw-medium fs-13 mb-0"><span class="text-success fs-12"><i class="ti ti-arrow-wave-right-up me-1"></i>+20.01% </span> from last week</p>
						<span class="position-absolute top-0 end-0"><img src="~/template/assets/img/bg/card-bg-04.png" alt="Img"></span>
					</div>
				</div>
			</div>
			<div class="col-xl-4 col-md-6">
				<div class="card position-relative">
					<div class="card-body">
						<div class="d-flex align-items-center mb-3">
							<div class="avatar avatar-md br-10 icon-rotate bg-purple flex-shrink-0">
								<span class="d-flex align-items-center"><i class="ti ti-currency text-white fs-16"></i></span>
							</div>
							<div class="ms-3">
								<p class="fw-medium text-truncate mb-1">Wallet</p>
								<h5>₦@Model.WalletBalance</h5>
							</div>
						</div>
						<div class="progress progress-xs mb-2">
							<div class="progress-bar bg-purple" role="progressbar" style="width: 40%"></div>
						</div>
						<p class="fw-medium fs-13 mb-0"><span class="text-success fs-12"><i class="ti ti-arrow-wave-right-up me-1"></i>+55% </span> from last week</p>
						<span class="position-absolute top-0 end-0"><img src="~/template/assets/img/bg/card-bg-04.png" alt="Img"></span>
					</div>
				</div>
			</div>
		</div>
    </div>
</div>